.App {
    background-color: #d9dde6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}